.navbar-brand,
.nav-link {
	color: white !important;
	text-shadow: 1px 1px 1px rgba(0, o, 0, 0.7)
}

.nav-link {
	text-transform: uppercase;
	margin-right: 30px;
}

.nav-link:hover::after {
	content: '';
	display: block;
	border-bottom: 3px solid #0B63DC;
	width: 50%;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -8px;
}

.bg-black {
	background-color: black;
}

.font-footer {
	color: white;
	padding: 30px 0px;
}

.font-footer h3 {
	font-weight: 200;
}

.mainmenubtn {
	background-color: red;
	color: white;
	border: none;
	cursor: pointer;
	padding: 20px;
	margin-top: 20px;
}

.mainmenubtn:hover {
	background-color: red;
}

#kanan {
	margin-top: 80px;
	margin-left: 15px;
	height: auto;
	float: left;
}

#kanan #frame-barang ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#kanan #frame-barang ul li {
	width: 240px;
	background: white;
	padding: 10px 15px;
	margin-bottom: 15px;
	margin-right: 15px;
	float: left;
}

#kanan #frame-barang ul li a img {
	display: block;
	width: 240px;
}
